<div class="container">
<div class="row">
  <div class="col-md-5 col-md-offset-3" style="padding-bottom: 4em">
  </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <div class="alert alert-danger" ng-show="error">
        {{ error.message }}
        </div>
        <form role="form" ng-submit="login()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email" ng-model="credentials.email"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"/>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
<!-- 
<div class="row">
  <div class="col-md-5 col-md-offset-3" style="padding-bottom: 4em">
  Or login with Facebook
  </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <div class="alert alert-danger" ng-show="error">
        {{ error.message }}
        </div>
        <form role="form" ng-submit="loginFacebook()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="facebookEmail" name="email" ng-model="facebookCredentials.email"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="facebookPassword" name="password" ng-model="facebookCredentials.password"/>
            </div>
            <button type="submit" class="btn btn-primary">Login with Facebook</button>
        </form>
    </div>
</div>
 -->
</div>